@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.text-success {
  color: #0cce5a !important;
}

.bg-success {
  background-color: #0cce5a !important;
}

.text-danger {
  color: #ff4363 !important;
}

.btn-light {
  background-color: white !important;
  border: 1px solid rgba(211, 211, 211, 0.6) !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgba(42, 166, 255, 0.6117647059);
}

a {
  text-decoration: none;
  color: #2aa7ff;
}

.main {
  display: flex;
  flex-wrap: wrap;
}
.main .left_nav {
  overflow-y: scroll;
  width: 240px;
  height: 100vh;
  background-color: #f2f5f8;
  border-right: 1px solid lightgray;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.main .left_nav::-webkit-scrollbar {
  width: 3px;
}
.main .left_nav::-webkit-scrollbar-track {
  width: 3px;
}
.main .left_nav::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #2aa7ff;
}
.main .left_nav .img {
  width: 100%;
  height: 46px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main .left_nav .img img {
  width: 120px;
}
.main .left_nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}
.main .left_nav ul li {
  font-family: "Roboto" !important;
  list-style-type: none;
  margin: 16px 0;
  color: black;
}
.main .left_nav ul li.active > .li_content, .main .left_nav ul li:hover > .li_content {
  color: #2aa7ff !important;
  border-left: 3px solid #2aa7ff;
}
.main .left_nav ul li.active ul {
  max-height: 400px;
}
.main .left_nav ul li.active .li_content .arrow i {
  transform: rotate(-90deg);
}
.main .left_nav ul li .li_content {
  padding: 2px 25px;
  border-left: 3px solid transparent;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.3s;
  position: relative;
}
.main .left_nav ul li .li_content i {
  width: 22px;
  display: inline-block;
  font-weight: bold;
  transition-duration: 0.3s;
  font-size: 16px;
  -webkit-text-stroke: 0.6px black;
}
.main .left_nav ul li .li_content .arrow {
  width: 30px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main .left_nav ul li .li_content .arrow i {
  font-size: 12px;
  -webkit-text-stroke: 0 black;
}
.main .left_nav ul li ul {
  width: 100%;
  padding: 0 25px 0 51px;
  max-height: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  transition-duration: 0.3s;
}
.main .left_nav ul li ul li {
  width: 100%;
}
.main .left_nav ul li ul li a {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 500;
  padding: 3px 12px;
  color: black;
  cursor: pointer;
  transition-duration: 0.2s;
}
.main .left_nav ul li ul li:hover {
  color: #2aa7ff;
}
.main .left_nav ul li ul li.active a {
  background-color: #dbdde3;
  border-radius: 30px;
  color: #2aa7ff;
}
.main .right {
  width: calc(100% - 240px);
}
.main .right header {
  z-index: 1020 !important;
  width: 100%;
  height: 46px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}
.main .right header .timer {
  width: 140px;
  padding: 3px 8px;
  border-radius: 20px;
  border: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .right header .timer .time {
  color: #2aa7ff;
  font-weight: 600;
}
.main .right header .timer .upright {
  color: #2aa7ff;
  -webkit-text-stroke: 1px #2aa7ff;
}
.main .right header .icons {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main .right header .icons > div {
  margin: 0 6px;
  border: 1px solid lightgray;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main .right header .icons > div a {
  color: black !important;
}
.main .right header .icons > div i {
  font-size: 16px;
  -webkit-text-stroke: 0.3px black;
}
.main .right header .icons .detail {
  min-width: 340px;
  position: fixed;
  z-index: 9999 !important;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 !important;
  border: none;
  top: calc(100% - 10px) !important;
}
.main .right header .icons .detail .header {
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  border-bottom: 1px solid lightgray;
  text-align: center;
}
.main .right header .icons .detail .body {
  padding: 10px;
  font-size: 13px;
}
.main .right header .icons .detail .body a {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #2aa7ff !important;
  text-decoration: none;
}
.main .right header .icons .detail .footer {
  width: 100%;
  height: 46px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightgray;
}
.main .right header .icons .detail .footer a {
  color: #2aa7ff;
  font-size: 12px;
}
.main .right header .icons .detail ul {
  width: 180px;
  padding: 4px 0;
  margin: 0;
}
.main .right header .icons .detail ul li {
  padding: 8px 14px;
  font-size: 14px;
  list-style-type: none;
  cursor: pointer;
  transition-duration: 0.1s;
  border-radius: 4px;
}
.main .right header .icons .detail ul li:hover {
  background-color: rgba(42, 166, 255, 0.1098039216);
}
.main .right header .icons .user .detail {
  min-width: 160px;
}
.main .right .data {
  width: 100%;
  min-height: calc(100vh - 46px);
  padding: 30px;
  padding-bottom: 0 !important;
  background-color: #f9f9f9;
}
.main .right .data .title {
  font-size: 28px;
}
.main .right .data .time {
  font-size: 13px;
}
.main .right .data .activities {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid rgba(211, 211, 211, 0.486);
  padding: 10px;
}
.main .right .data .activities .item {
  width: 25%;
  padding: 0 20px;
  border-right: 1px solid rgba(211, 211, 211, 0.486);
}
.main .right .data .activities .item .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0;
}
.main .right .data .activities .item .header .title {
  font-size: 12px;
  text-transform: uppercase;
  color: #617083;
  font-weight: 500;
}
.main .right .data .activities .item .header .dropdown i {
  font-size: 12px;
  color: #617083;
}
.main .right .data .activities .item .duration {
  font-size: 26px;
  color: #2b343f;
  font-weight: 400;
}
.main .right .data .activities .item .body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .right .data .activities .item .body .duration {
  font-size: 12px;
}
.main .right .data .activities .item .body .duration.success {
  color: #0cce5a;
}
.main .right .data .activities .item .body .duration.danger {
  color: #ff4363;
}
.main .right .data .activities .item .body .rickshaw_graph {
  position: relative;
  top: -4px;
}
.main .right .data .activities .item:last-child {
  border: none;
}
.main .right .data .activities .item.null {
  transition-duration: 0.2s;
  background-color: rgba(211, 211, 211, 0.616);
}
.main .right .data .activities .item.null:hover {
  background-color: transparent;
}
.main .right .data .activities .item.null:hover .header a i {
  display: none;
}
.main .right .data .activities .item.null:hover .header .btn-primary {
  display: block;
}
.main .right .data .activities .item.null .header a i {
  font-size: 20px;
  color: #54b4d3;
}
.main .right .data .activities .item.null .header .btn-primary {
  display: none;
}
.main .right .data .activities .item.null .duration {
  width: 50px;
  height: 20px;
  background-color: rgba(128, 128, 128, 0.788);
}
.main .right .data .activities .item.null .body .duration {
  width: 40px;
  height: 14px;
  margin-top: 6px;
  background-color: rgba(151, 151, 151, 0.781);
}

.recents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recent_box {
  padding: 20px;
  border-radius: 2px;
  border: 1px solid rgba(211, 211, 211, 0.4);
  background-color: white;
}
.recent_box .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}
.recent_box .header .title {
  color: #617083;
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: 500;
}
.recent_box .header .dropdown a {
  color: black;
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  margin-top: 10px;
  justify-content: space-between;
}
.user-info .info {
  display: flex;
  flex-wrap: wrap;
}
.user-info .info img {
  width: 20px;
  border-radius: 100%;
}
.user-info .info .user-name {
  font-size: 14px;
  margin: 0 10px;
  text-transform: capitalize;
  font-weight: 600;
}

.more-button {
  color: #2aa7ff;
  font-size: 13px;
  text-decoration: none;
}
.more-button i {
  -webkit-text-stroke: 0.6px #2aa7ff;
}

.screenshots {
  width: 100%;
  display: grid;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: 192px 192px 192px;
}
.screenshots .img {
  width: 192px;
  height: 108px;
  border: 1px solid lightgray;
  position: relative;
}
.screenshots .img:hover .wrapper .text {
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.screenshots .img .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.screenshots .img .image img {
  width: 100%;
}
.screenshots .img .wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
.screenshots .img .wrapper .text {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
}
.screenshots .img .wrapper .text .button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.screenshots .img .wrapper .text button {
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  font-size: 12px;
  background-color: whitesmoke;
  transition-duration: 0.2s;
}
.screenshots .img .wrapper .text button:hover {
  background-color: white;
}
.screenshots .img .wrapper .text .time {
  color: white;
  position: absolute;
  bottom: 4px;
  text-align: center;
  width: 100%;
}
.screenshots .img .percent {
  position: absolute;
  padding: 2px 4px;
  font-size: 10px;
  color: white;
  border-radius: 8px;
  top: -7px;
  right: -4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  background-color: #3b71ca;
}
.screenshots .img .percent.success {
  background-color: #0cce5a;
}
.screenshots .img .percent.danger {
  background-color: #ff4363;
}

.date_filter {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.date_filter .form-group {
  border-radius: 0 !important;
}
.date_filter .form-group:first-child .form-control,
.date_filter .form-group:first-child .form-select {
  border-radius: 6px 0 0 6px !important;
  border-right: none;
  -webkit-clip-path: inset(-6px 0 -6px -6px) !important;
          clip-path: inset(-6px 0 -6px -6px) !important;
  padding: 10px 14px;
  font-size: 13px !important;
  border-color: rgba(211, 211, 211, 0.5) !important;
}
.date_filter .form-group:last-child .form-control,
.date_filter .form-group:last-child .form-select {
  border-radius: 0 6px 6px 0 !important;
  border-left: none;
  -webkit-clip-path: inset(-6px -6px -6px 0) !important;
          clip-path: inset(-6px -6px -6px 0) !important;
  padding: 10px 14px;
  font-size: 13px !important;
  border-color: rgba(211, 211, 211, 0.5) !important;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filters .left-side {
  width: 300px;
}
.filters .right-side {
  display: flex;
  flex-wrap: wrap;
}
.filters .right-side .form-group {
  width: 200px !important;
}
.filters .right-side .btn {
  margin-left: 10px;
  border-radius: 3px;
}
.filters .right-side .btn:focus {
  box-shadow: 0 0 0 3px rgba(42, 166, 255, 0.6117647059);
}

.btn.btn-outline-own {
  border-color: #2aa7ff;
}
.btn.btn-outline-own:hover {
  background-color: #2aa7ff;
  color: white;
}
.btn.btn-own {
  border-color: #2aa7ff;
  background-color: #2aa7ff;
  color: white;
}
.btn.btn-own:hover {
  background-color: #0595fc;
}

.form-control,
.form-select {
  font-size: 12px !important;
  padding: 8px 12px !important;
  border-radius: 2px !important;
}
.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 3px rgba(42, 166, 255, 0.6117647059);
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-group .buttons {
  border-radius: 20px;
  background-color: #e9edef;
  height: 36px;
}
.button-group .buttons button {
  font-size: 13px;
  color: black;
  background-color: transparent;
  height: 36px;
  min-width: 100px;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  padding: 0 20px;
  border: none;
  border-radius: 20px;
}
.button-group .buttons button.active {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.view_filters {
  transform: translateX(100%);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  width: 340px;
  height: calc(100vh - 46px);
  position: fixed;
  right: 0;
  top: 46px;
  background-color: white;
  box-shadow: -6px 0px 16px -7px rgba(0, 0, 0, 0.2);
  padding: 0 30px;
}

label {
  font-size: 11px;
  color: #79899d;
  text-transform: uppercase;
}

.view_edit {
  width: 100%;
  margin-top: 40px;
}
.view_edit .title {
  font-size: 18px !important;
}

.size-bg {
  font-size: 30px !important;
}

.complex-progress {
  width: 100%;
  height: 16px;
  border-radius: 16px;
  background-color: #dfe6f1;
  margin: 10px 0;
  position: relative;
}
.complex-progress .child-progress {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
}
.complex-progress .child-progress .item {
  position: absolute;
  background-color: #0cce5a;
  height: 100%;
  border-radius: 16px;
}
.complex-progress .child-progress .item:hover .detail {
  display: block;
}
.complex-progress .child-progress .item .detail {
  display: none;
  position: absolute;
  transform: translateX(-50%);
  bottom: calc(100% + 10px);
  left: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
  font-size: 12px;
  padding: 10px;
  border-radius: 6px;
  background-color: #525a67;
  text-align: center;
}
.complex-progress .child-progress .item .detail:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: #525a67;
}
.complex-progress .child-progress .item .detail span {
  display: block;
}
.complex-progress .text {
  width: 100%;
  position: absolute;
  top: 16px;
  display: flex;
  flex-wrap: wrap;
}
.complex-progress .text .item {
  position: absolute;
  color: #525a67;
  font-size: 10px;
  top: 2px;
}
.complex-progress .text .item:after {
  content: "";
  width: 1px;
  height: 6px;
  background-color: rgba(82, 90, 103, 0.5568627451);
  position: absolute;
  top: -2px;
  left: 50%;
}

.toggles {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
.toggles .item {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  font-size: 13px;
  font-weight: 500;
  border-bottom: 2px solid lightgray;
  text-transform: uppercase;
}
.toggles .item.active {
  color: #2aa7ff;
  border-color: #2aa7ff;
}

.no-result {
  width: 100%;
  padding: 30px 0;
}
.no-result .detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.no-result .detail img {
  width: 100px;
}
.no-result .detail .title {
  width: 100%;
  text-align: center;
  color: #617083;
  font-size: 13px !important;
  margin-top: 20px;
}

.form-select-multiple,
.form-select2 {
  width: 100%;
  padding: 8px 12px !important;
  border-radius: 2px !important;
}
.form-select-multiple:focus,
.form-select2:focus {
  box-shadow: 0 0 0 3px rgba(42, 166, 255, 0.6117647059) !important;
}

.select2-container .select2-selection {
  border-radius: 2px !important;
  border-color: #ced4da !important;
  height: 36px !important;
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
}

.select2-container--focus .selection .select2-selection {
  box-shadow: 0 0 0 3px rgba(42, 166, 255, 0.6117647059) !important;
  border-radius: 2px !important;
  border-color: #2aa7ff !important;
}

.select2-dropdown {
  background-color: white !important;
  border-color: #2aa7ff !important;
}

.select2-results__options li {
  background-color: white !important;
  color: black !important;
  border-radius: 4px !important;
}
.select2-results__options li:hover {
  background-color: rgba(42, 166, 255, 0.1098039216) !important;
}

.select2-selection__choice {
  background-color: transparent !important;
  border-radius: 2px !important;
  border-color: rgba(211, 211, 211, 0.7) !important;
}
.select2-selection__choice *:not(.select2-selection__choice__remove) {
  font-size: 13px;
  color: #3e4956;
}
.select2-selection__choice .select2-selection__choice__remove {
  border: none !important;
  font-size: 15px !important;
}

.showing {
  font-size: 14px;
  color: #79899d;
}

.screeenshots_activity {
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgba(211, 211, 211, 0.6);
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.screeenshots_activity.short .item {
  height: 70px !important;
}
.screeenshots_activity .item {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between !important;
  height: 130px;
  padding: 0 10px;
  border-right: 1px solid rgba(211, 211, 211, 0.6);
}
.screeenshots_activity .item:last-child {
  border: none;
}
.screeenshots_activity .item .title {
  font-size: 12px !important;
  color: #617083;
}
.screeenshots_activity .item .text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.screeenshots_activity .item .text .text-item {
  margin-right: 20px;
}
.screeenshots_activity .item .text .text-item:last-child {
  margin-right: 0;
}
.screeenshots_activity .item .text .text-item h4 {
  font-size: 30px;
}
.screeenshots_activity .item .text .text-item h4 i {
  font-size: 16px;
}
.screeenshots_activity .item .text .text-item p {
  font-size: 12px;
  color: #79899d;
}

.screenshots-detail {
  width: 100%;
  border-left: 1px solid lightgray;
  padding-bottom: 67px;
}
.screenshots-detail .detail-row {
  width: 100%;
}
.screenshots-detail .detail-row .title {
  color: #2b343f;
  font-size: 12px !important;
  padding: 0 14px;
  position: relative;
}
.screenshots-detail .detail-row .title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: whitesmoke;
  border: 2px solid lightgray;
  border-radius: 12px;
  left: -6px;
  top: 0;
}
.screenshots-detail .detail-row .shots {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  padding: 0 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.screenshots-detail .detail-row .shots .shot {
  padding-top: 40px;
  width: 180px;
  min-height: 180px;
}
.screenshots-detail .detail-row .shots .shot:last-child {
  margin-right: 0;
}
.screenshots-detail .detail-row .shots .shot .no-activity {
  width: 100%;
  font-size: 12px;
  color: #7a8789;
  background-color: #e9edef;
  padding: 12px;
  text-align: center;
  border-radius: 4px;
}
.screenshots-detail .detail-row .shots .shot .img {
  width: 100%;
  border-radius: 3px;
}
.screenshots-detail .detail-row .shots .shot .img .image {
  width: 100%;
  height: 100px;
  border-radius: 3px 3px 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  position: relative;
}
.screenshots-detail .detail-row .shots .shot .img .image .project {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  position: relative;
  top: -70%;
}
.screenshots-detail .detail-row .shots .shot .img .image .project button {
  padding: 3px 12px;
  background-color: #eff1f5;
  color: #3e4956;
  font-size: 13px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  display: block;
  margin: auto;
}
.screenshots-detail .detail-row .shots .shot .img .image .project .light {
  font-size: 12px;
  margin: 4px 0 2px;
}
.screenshots-detail .detail-row .shots .shot .img .image .image-body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition-duration: 0.2s;
  position: absolute;
  top: 0;
}
.screenshots-detail .detail-row .shots .shot .img .image .image-body:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.screenshots-detail .detail-row .shots .shot .img .image .image-body:hover .body-buttons {
  transform: translateY(0);
}
.screenshots-detail .detail-row .shots .shot .img .image .image-body .body-buttons {
  transition-duration: 0.2s;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  transform: translateY(-100%);
}
.screenshots-detail .detail-row .shots .shot .img .image .image-body .body-buttons .view-screen {
  color: #2b343f;
  background-color: white;
  border: none;
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 4px;
}
.screenshots-detail .detail-row .shots .shot .img .detail {
  border-radius: 0 0 3px 3px;
  border: 1px solid lightgray;
  border-top: none;
  padding: 15px 10px;
  position: relative;
}
.screenshots-detail .detail-row .shots .shot .img .detail .count {
  position: absolute;
  top: 0;
  color: #2aa7ff;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 12px;
  max-width: 100px;
  text-align: center;
  top: -15% !important;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.screenshots-detail .detail-row .shots .shot .img .detail .progress {
  width: 100% !important;
}
.screenshots-detail .detail-row .shots .shot .img .detail .duration {
  font-size: 12px !important;
  text-align: center;
  color: #3e4956;
}

.search_field {
  background-color: white;
  border: 1px solid rgba(211, 211, 211, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  padding: 4px 12px;
  transition-duration: 0.2s;
}
.search_field:focus-within {
  box-shadow: 0 0 4px rgba(42, 166, 255, 0.6117647059) !important;
  border-color: #2aa7ff;
}
.search_field i {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.search_field input {
  background-color: transparent;
  border: none;
  font-size: 14px;
  width: 200px;
  padding: 3px 0;
}
.search_field input:focus {
  border: none;
  outline: none;
}

.reports {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.reports .report {
  width: 260px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgba(211, 211, 211, 0.5);
  margin: 0 30px 30px 0;
  background-color: #fff;
  transition-duration: 0.2s;
  cursor: pointer;
}
.reports .report:hover {
  border-color: transparent;
  box-shadow: 0 2px 8px rgba(211, 211, 211, 0.7);
}
.reports .report .report_title {
  font-size: 14px;
  color: #2b343f;
  margin-bottom: 10px;
}
.reports .report p {
  font-size: 12px;
  color: #79899d;
}

.modal .modal-content {
  border-radius: 8px !important;
}
.modal .modal-content .modal-header {
  border: none !important;
}
.modal .modal-content .modal-header .modal-title {
  color: #2b343f !important;
  font-size: 18px !important;
}
.modal .modal-content .modal-footer {
  border: none !important;
}

.toggle-button input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.toggle-button label {
  cursor: pointer;
  text-indent: -9999px;
  width: 30px;
  height: 15px;
  background: grey;
  display: block;
  border-radius: 15px;
  position: relative;
}
.toggle-button label:after {
  content: "";
  position: absolute;
  top: 0.75px;
  left: 0.75px;
  width: 13.5px;
  height: 13.5px;
  background: #fff;
  border-radius: 13.5px;
  transition: 0.1s;
}
.toggle-button input:checked + label {
  background: #2aa7ff;
}
.toggle-button input:checked + label:after {
  left: calc(100% - 0.75px);
  transform: translateX(-100%);
}
.toggle-button label:active:after {
  width: 19.5px;
}

.dropdown-item.danger:hover {
  background-color: rgba(255, 67, 98, 0.1215686275) !important;
}

.quick_charts {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.quick_charts .item {
  width: 48% !important;
}
.quick_charts .item.padding {
  padding: 0 100px !important;
}
.quick_charts .item.full {
  width: 100% !important;
}/*# sourceMappingURL=styles.css.map */